Data Preprocessing 1 part

In [1]:
import pandas as pd


df = pd.read_csv('train.csv') #student Bag Prediction dataset.

 View the first 5 rows of the dataframe

In [2]:
df.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

DataFrame haqida qisqacha ma'lumot olish

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 290295 non-null  object
 2   Material              291653 non-null  object
 3   Size                  293405 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    292556 non-null  object
 6   Waterproof            292950 non-null  object
 7   Style                 292030 non-null  object
 8   Color                 290050 non-null  object
 9   Weight Capacity (kg)  299862 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

Data Cleaning

In [ ]:
df.isnull().sum()

id                         0
Brand                   9705
Material                8347
Size                    6595
Compartments               0
Laptop Compartment      7444
Waterproof              7050
Style                   7970
Color                   9950
Weight Capacity (kg)     138
Price                      0
dtype: int64

Dropping

In [7]:
df = df.dropna(subset=['Color'], axis=0)

In [10]:
df.isnull().sum()

id                         0
Brand                   9322
Material                8020
Size                    6385
Compartments               0
Laptop Compartment      7201
Waterproof              6800
Style                   7680
Color                      0
Weight Capacity (kg)     124
Price                      0
dtype: int64

In [11]:
df=df.drop('Style', axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 290050 entries, 0 to 299999
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    290050 non-null  int64
 1   Brand                 280728 non-null  object
 2   Material              282030 non-null  object
 3   Size                  283665 non-null  object
 4   Compartments          290050 non-null  float64
 5   Laptop Compartment    282849 non-null  object
 6   Waterproof            283250 non-null  object
 7   Color                 290050 non-null  object
 8   Weight Capacity (kg)  289926 non-null  float64
 9   Price                 290050 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 24.3+ MB

In [13]:
df.isnull().sum()

id                         0
Brand                   9322
Material                8020
Size                    6385
Compartments               0
Laptop Compartment      7201
Waterproof              6800
Color                      0
Weight Capacity (kg)     124
Price                      0
dtype: int64

Impute missing data using the mean

In [14]:
df['Weight Capacity (kg)']=df['Weight Capacity (kg)'].fillna(df['Weight Capacity (kg)'].mean())

In [15]:
df.isnull().sum()

id                         0
Brand                   9322
Material                8020
Size                    6385
Compartments               0
Laptop Compartment      7201
Waterproof              6800
Color                      0
Weight Capacity (kg)       0
Price                      0
dtype: int64

Impute missing data using the mean

In [20]:
columns_to_impute = ['Brand', 'Material', 'Size', 'Laptop Compartment', 'Waterproof']

for col in columns_to_impute:
    df[col] = df[col].fillna(df[col].mode()[0])

In [21]:
df.isnull().sum()

id                      0
Brand                   0
Material                0
Size                    0
Compartments            0
Laptop Compartment      0
Waterproof              0
Color                   0
Weight Capacity (kg)    0
Price                   0
dtype: int64

Data Preprocessing 2 part Encoding Categorical Data:

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 290050 entries, 0 to 299999
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    290050 non-null  int64
 1   Brand                 290050 non-null  object
 2   Material              290050 non-null  object
 3   Size                  290050 non-null  object
 4   Compartments          290050 non-null  float64
 5   Laptop Compartment    290050 non-null  object
 6   Waterproof            290050 non-null  object
 7   Color                 290050 non-null  object
 8   Weight Capacity (kg)  290050 non-null  float64
 9   Price                 290050 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 24.3+ MB

In [23]:
df['Brand'].value_counts()

Brand
Adidas          67440
Under Armour    58014
Nike            55496
Puma            54838
Jansport        54262
Name: count, dtype: int64

In [24]:
df.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Green,17.749338,86.02312

One-Hot Encoding

In [25]:
df=pd.get_dummies(df,columns=['Brand'],dtype=int)

In [26]:
df.head()

,id,Material,Size,Compartments,Laptop Compartment,Waterproof,Color,Weight Capacity (kg),Price,Brand_Adidas,Brand_Jansport,Brand_Nike,Brand_Puma,Brand_Under Armour
0,0,Leather,Medium,7.0,Yes,No,Black,11.611723,112.15875,0,1,0,0,0
1,1,Canvas,Small,10.0,Yes,Yes,Green,27.078537,68.88056,0,1,0,0,0
2,2,Leather,Small,2.0,Yes,No,Red,16.643760,39.17320,0,0,0,0,1
3,3,Nylon,Small,8.0,Yes,No,Green,12.937220,80.60793,0,0,1,0,0
4,4,Canvas,Medium,1.0,Yes,Yes,Green,17.749338,86.02312,1,0,0,0,0

In [27]:
df['Material'].value_counts()

Material
Polyester    84997
Leather      71080
Nylon        68255
Canvas       65718
Name: count, dtype: int64

In [28]:
df=pd.get_dummies(df,columns=['Material'],dtype=int)

In [29]:
df.head()

,id,Size,Compartments,Laptop Compartment,Waterproof,Color,Weight Capacity (kg),Price,Brand_Adidas,Brand_Jansport,Brand_Nike,Brand_Puma,Brand_Under Armour,Material_Canvas,Material_Leather,Material_Nylon,Material_Polyester
0,0,Medium,7.0,Yes,No,Black,11.611723,112.15875,0,1,0,0,0,0,1,0,0
1,1,Small,10.0,Yes,Yes,Green,27.078537,68.88056,0,1,0,0,0,1,0,0,0
2,2,Small,2.0,Yes,No,Red,16.643760,39.17320,0,0,0,0,1,0,1,0,0
3,3,Small,8.0,Yes,No,Green,12.937220,80.60793,0,0,1,0,0,0,0,1,0
4,4,Medium,1.0,Yes,Yes,Green,17.749338,86.02312,1,0,0,0,0,1,0,0,0

In [ ]:
df['Size'].value_counts()

Size
Medium    105034
Large      95229
Small      89787
Name: count, dtype: int64

Label Encoding

In [31]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [32]:
df['Size']=encoder.fit_transform(df['Size'])

In [33]:
df.head()

,id,Size,Compartments,Laptop Compartment,Waterproof,Color,Weight Capacity (kg),Price,Brand_Adidas,Brand_Jansport,Brand_Nike,Brand_Puma,Brand_Under Armour,Material_Canvas,Material_Leather,Material_Nylon,Material_Polyester
0,0,1,7.0,Yes,No,Black,11.611723,112.15875,0,1,0,0,0,0,1,0,0
1,1,2,10.0,Yes,Yes,Green,27.078537,68.88056,0,1,0,0,0,1,0,0,0
2,2,2,2.0,Yes,No,Red,16.643760,39.17320,0,0,0,0,1,0,1,0,0
3,3,2,8.0,Yes,No,Green,12.937220,80.60793,0,0,1,0,0,0,0,1,0
4,4,1,1.0,Yes,Yes,Green,17.749338,86.02312,1,0,0,0,0,1,0,0,0

In [34]:
df['Laptop Compartment'].value_counts()

Laptop Compartment
Yes    150680
No     139370
Name: count, dtype: int64

In [37]:
df['Laptop Compartment']=encoder.fit_transform(df['Laptop Compartment'])

In [38]:
df.head()

,id,Size,Compartments,Laptop Compartment,Waterproof,Color,Weight Capacity (kg),Price,Brand_Adidas,Brand_Jansport,Brand_Nike,Brand_Puma,Brand_Under Armour,Material_Canvas,Material_Leather,Material_Nylon,Material_Polyester
0,0,1,7.0,1,No,Black,11.611723,112.15875,0,1,0,0,0,0,1,0,0
1,1,2,10.0,1,Yes,Green,27.078537,68.88056,0,1,0,0,0,1,0,0,0
2,2,2,2.0,1,No,Red,16.643760,39.17320,0,0,0,0,1,0,1,0,0
3,3,2,8.0,1,No,Green,12.937220,80.60793,0,0,1,0,0,0,0,1,0
4,4,1,1.0,1,Yes,Green,17.749338,86.02312,1,0,0,0,0,1,0,0,0

In [39]:
df['Waterproof'].value_counts()

Waterproof
Yes    149902
No     140148
Name: count, dtype: int64

In [40]:
df['Waterproof']=encoder.fit_transform(df['Waterproof'])

In [41]:
df.head()

,id,Size,Compartments,Laptop Compartment,Waterproof,Color,Weight Capacity (kg),Price,Brand_Adidas,Brand_Jansport,Brand_Nike,Brand_Puma,Brand_Under Armour,Material_Canvas,Material_Leather,Material_Nylon,Material_Polyester
0,0,1,7.0,1,0,Black,11.611723,112.15875,0,1,0,0,0,0,1,0,0
1,1,2,10.0,1,1,Green,27.078537,68.88056,0,1,0,0,0,1,0,0,0
2,2,2,2.0,1,0,Red,16.643760,39.17320,0,0,0,0,1,0,1,0,0
3,3,2,8.0,1,0,Green,12.937220,80.60793,0,0,1,0,0,0,0,1,0
4,4,1,1.0,1,1,Green,17.749338,86.02312,1,0,0,0,0,1,0,0,0

In [42]:
df['Color'].value_counts()

Color
Pink     51690
Gray     50280
Blue     48097
Red      47219
Green    46386
Black    46378
Name: count, dtype: int64

One-Hot Encoding

In [43]:
df=pd.get_dummies(df,columns=['Color'],dtype=int)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 290050 entries, 0 to 299999
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    290050 non-null  int64
 1   Size                  290050 non-null  int32
 2   Compartments          290050 non-null  float64
 3   Laptop Compartment    290050 non-null  int32
 4   Waterproof            290050 non-null  int32
 5   Weight Capacity (kg)  290050 non-null  float64
 6   Price                 290050 non-null  float64
 7   Brand_Adidas          290050 non-null  int32
 8   Brand_Jansport        290050 non-null  int32
 9   Brand_Nike            290050 non-null  int32
 10  Brand_Puma            290050 non-null  int32
 11  Brand_Under Armour    290050 non-null  int32
 12  Material_Canvas       290050 non-null  int32
 13  Material_Leather      290050 non-null  int32
 14  Material_Nylon        290050 non-null  int32
 15  Material_Polyester    290050 non-null  int32
 16  Color_Black           290050 non-null  int32
 17  Color_Blue            290050 non-null  int32
 18  Color_Gray            290050 non-null  int32
 19  Color_Green           290050 non-null  int32
 20  Color_Pink            290050 non-null  int32
 21  Color_Red             290050 non-null  int32
dtypes: float64(3), int32(18), int64(1)
memory usage: 31.0 MB

In [ ]:
import klib

df_cleaned = klib.data_cleaning(df)

Shape of cleaned data: (290050, 22) - Remaining NAs: 0


Dropped rows: 0
     of which 0 duplicates. (Rows (first 150 shown): [])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 14.7 MB (-37.65%)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 290050 entries, 0 to 299999
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    290050 non-null  int64
 1   Size                  290050 non-null  int32
 2   Compartments          290050 non-null  float64
 3   Laptop Compartment    290050 non-null  int32
 4   Waterproof            290050 non-null  int32
 5   Weight Capacity (kg)  290050 non-null  float64
 6   Price                 290050 non-null  float64
 7   Brand_Adidas          290050 non-null  int32
 8   Brand_Jansport        290050 non-null  int32
 9   Brand_Nike            290050 non-null  int32
 10  Brand_Puma            290050 non-null  int32
 11  Brand_Under Armour    290050 non-null  int32
 12  Material_Canvas       290050 non-null  int32
 13  Material_Leather      290050 non-null  int32
 14  Material_Nylon        290050 non-null  int32
 15  Material_Polyester    290050 non-null  int32
 16  Color_Black           290050 non-null  int32
 17  Color_Blue            290050 non-null  int32
 18  Color_Gray            290050 non-null  int32
 19  Color_Green           290050 non-null  int32
 20  Color_Pink            290050 non-null  int32
 21  Color_Red             290050 non-null  int32
dtypes: float64(3), int32(18), int64(1)
memory usage: 39.0 MB

In [48]:
duplicated_rows=df.duplicated()

In [49]:
duplicated_rows.sum()

0

For Loop

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 290295 non-null  object
 2   Material              291653 non-null  object
 3   Size                  293405 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    292556 non-null  object
 6   Waterproof            292950 non-null  object
 7   Style                 292030 non-null  object
 8   Color                 290050 non-null  object
 9   Weight Capacity (kg)  299862 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

In [3]:
df.isnull().sum()

id                         0
Brand                   9705
Material                8347
Size                    6595
Compartments               0
Laptop Compartment      7444
Waterproof              7050
Style                   7970
Color                   9950
Weight Capacity (kg)     138
Price                      0
dtype: int64

In [4]:
for col in df.columns:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(),inplace=True)

C:\Users\erniyazov_sarvarbek\AppData\Local\Temp\ipykernel_34896\2153123511.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)
C:\Users\erniyazov_sarvarbek\AppData\Local\Temp\ipykernel_34896\2153123511.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)

In [5]:
df.isnull().sum()

id                      0
Brand                   0
Material                0
Size                    0
Compartments            0
Laptop Compartment      0
Waterproof              0
Style                   0
Color                   0
Weight Capacity (kg)    0
Price                   0
dtype: int64

For Loop + Encoding

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 300000 non-null  object
 2   Material              300000 non-null  object
 3   Size                  300000 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    300000 non-null  object
 6   Waterproof            300000 non-null  object
 7   Style                 300000 non-null  object
 8   Color                 300000 non-null  object
 9   Weight Capacity (kg)  300000 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

In [1]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [9]:
for col in df.columns:
    if df[col].nunique()<=5:
        dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
        df=pd.concat([df.drop(col,axis=1),dummies],axis=1)
    else:
        df[col]=encoder.fit_transform(df[col].astype(str))

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      300000 non-null  int32
 1   Compartments            300000 non-null  int32
 2   Color                   300000 non-null  int32
 3   Weight Capacity (kg)    300000 non-null  int32
 4   Price                   300000 non-null  int32
 5   Brand_Adidas            300000 non-null  int32
 6   Brand_Jansport          300000 non-null  int32
 7   Brand_Nike              300000 non-null  int32
 8   Brand_Puma              300000 non-null  int32
 9   Brand_Under Armour      300000 non-null  int32
 10  Material_Canvas         300000 non-null  int32
 11  Material_Leather        300000 non-null  int32
 12  Material_Nylon          300000 non-null  int32
 13  Material_Polyester      300000 non-null  int32
 14  Size_Large              300000 non-null  int32
 15  Size_Medium             300000 non-null  int32
 16  Size_Small              300000 non-null  int32
 17  Laptop Compartment_No   300000 non-null  int32
 18  Laptop Compartment_Yes  300000 non-null  int32
 19  Waterproof_No           300000 non-null  int32
 20  Waterproof_Yes          300000 non-null  int32
 21  Style_Backpack          300000 non-null  int32
 22  Style_Messenger         300000 non-null  int32
 23  Style_Tote              300000 non-null  int32
dtypes: int32(24)
memory usage: 27.5 MB